inst/refs/*
inst/screenshot/*
inst/figs/*
*.Rout
vignettes/*Rmd
*.pdf
*.csv
vignettes/*
rmarkdown/*
data/*
.Rbuildignore
.Rinstignore
figs/*
figures/*
inst/extdata/*
poster/*
rmarkdown/*html
rmarkdown/*aux
rmarkdown/*log
rmarkdown/*blg
rmarkdown/*bbl
rmarkdown/*toc
rmarkdown/_region_.tex
rmarkdown/*lof
rmarkdown/*out
rmarkdown/*nav
rmarkdown/*snm
rmarkdown/auto
inst/mace_analysis
inst/peakzilla_analysis
inst/gem_analysis
other_QCmethods/*
